@charset "utf8";
*{
   font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to right,#1982C4,#D9F0FF);
    background-attachment: fixed;
}   
main{
    background-color: white;
    border-radius: 10px;
    box-shadow:10px 10px 10px #1B2845;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color:#093824 ;
    text-align: center;
    text-shadow:1px 1px 2px #1B2845;
}
h2{
    color: #912F40;
}
p{
        text-align: justify;
        
    }