@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    
}
header {
    background-color: black;
     color: white;
     text-align: center;
     padding-top: 30px;
     font-size: 30px;
}
header > a {
    font-size: 20px;
    color: white;
}
main{
    background-color: white; 
    font-size: 30px;
    margin: 10px;
    border: thick;
}
mai p {

}
p.cor1 {
    background-color: rgb(83, 89, 79);
    color: white;
}